<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rule name="rule 1I" stopProcessing="true">
    	<match url="^api/([0-9a-zA-Z_-]*)$"  ignoreCase="true" />
    	<action type="Rewrite" url="/api.php?app_name={R:1}"  />
    </rule>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
